* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

p, h1, h2, h3 {
	color: white;
	font-size: 22px;
	text-align: center;
}

/*Header CSS*/

.borders {
	border: 1px solid white;
	
}

.led-zep {
	margin: 0 auto;
}

/*Body CSS*/

.column1, .column2 {
	height: 550px;
	padding: 20px;
}